<div class="container-fluid">
  <div class="container pt-5">
    <div class="d-flex flex-column align-items-center">
      <h1 class="pt-5 opacity-75">
        Welcome , Brother
      </h1>
      <p class="pt-3 fw-bolder opacity-75">Chose From This Topic </p>
    </div>

    <div class="d-flex w-75 m-auto mt-5">

      <a routerLink="angular" class="text-decoration-none">
        <div class="bg-dark shadow rounded-2">
        <div class="topic-box p-5 bg-dark-subtle shadow rounded-2">
          <img src="images/angular-icon-svgrepo-com.svg" width="110px" alt="angular">
        </div>
        </div>
      </a>

    </div>

  </div>
</div>
